<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/config.css}" href="css/config.css">
    <title>Create configs</title>
</head>
<body>

<div class="title1">Edit config parameters</div>

<div class="table2">
    <form th:action="@{/configs}" th:object="${configsForm}" method="post">

        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Edit parameter name</th>
                <th>Edit value</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="config, itemStat : *{configs}">
                <td th:utext="${itemStat.index+1}"></td>
                <td><input th:field="*{configs[__${itemStat.index}__].name}" class="tableInactive"/></td>
                <td><input th:field="*{configs[__${itemStat.index}__].parameterValue}" class="tableInactive"/></td>
                <td><a th:href="@{/delete(id=*{configs[__${itemStat.index}__].name})}">Delete</a></td>
            </tr>
            </tbody>
        </table>

        <div style="height: 10px"/>
        <input type="submit" id="submitButton" th:value="Save">
        <input type="reset" id="resetButton" name="reset" th:value="Reset"/>
    </form>


</div>


</body>
</html>